In [1]:
import pandas as pd

%precision %.2f
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
ano = "2018"
#seed = 43278
fonte = f"MICRODADOS_ENEM_{ano}.csv"
#fonte = f"MICRODADOS_ENEM_{ano}_SAMPLE_{seed}.csv"

#dados = pd.read_csv(fonte, encoding="ISO-8859-1", delimiter=";")
dados = pd.read_csv(fonte, encoding="ISO-8859-1", delimiter=";", nrows=1000000)
dados.shape

(1000000, 137)

In [3]:
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,180008202043,2018,5300108,Brasília,53,DF,44.00,M,1.00,1,...,A,A,A,A,A,A,A,A,B,A
1,180007197856,2018,2111102,São João dos Patos,21,MA,23.00,F,0.00,3,...,A,B,A,A,B,A,A,A,A,A
2,180008517434,2018,3530607,Mogi das Cruzes,35,SP,23.00,F,0.00,1,...,A,B,A,A,B,B,B,B,A,A
3,180007661228,2018,2916401,Itapetinga,29,BA,26.00,F,0.00,3,...,A,B,B,A,C,A,B,B,A,A
4,180008787987,2018,2918100,Jeremoabo,29,BA,20.00,M,0.00,0,...,A,B,A,A,B,A,B,B,B,A

In [4]:
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [5]:
colunas_de_notas = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_REDACAO']
dados = dados[colunas_de_notas].dropna()

In [6]:
print(dados.shape)
dados.head()

(751379, 5)

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT  NU_NOTA_REDACAO
1      521.00      568.70      513.10      480.30           280.00
5      461.80      564.00      466.80      538.80           580.00
7      499.30      663.20      605.20      733.80           680.00
8      411.80      429.80      445.20      459.00           340.00
9      469.40      650.20      606.60      525.40           740.00

In [7]:
import numpy as np

seed = 845309
np.random.seed(seed)
n_treino = 180000
n_teste = 20000
n_validacao = 10000

dados_treino = dados.sample(n = n_treino)
dados_teste = dados_treino.sample(n = n_teste)
dados_treino.drop(dados_teste.index, inplace = True)
dados_validacao = dados_treino.sample(n = n_validacao)
dados_treino.drop(dados_validacao.index, inplace = True)

n_intersc_treino_teste = len(dados_treino.index.intersection(dados_teste.index))
n_intersc_treino_valicacao = len(dados_treino.index.intersection(dados_validacao.index))

assert n_intersc_treino_teste == 0
assert n_intersc_treino_valicacao == 0

dados_treino.reset_index(inplace=True, drop=True)
dados_teste.reset_index(inplace=True, drop=True)
dados_validacao.reset_index(inplace=True, drop=True)

print(dados_treino.shape)
print(dados_teste.shape)
print(dados_validacao.shape)

(150000, 5)
(20000, 5)
(10000, 5)

In [8]:
dados_treino.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT  NU_NOTA_REDACAO
0      411.60      436.60      430.10      430.40           340.00
1      499.10      521.30      543.30      548.50           800.00
2      464.50      572.90      566.50      393.90           340.00
3      457.00      646.00      540.50      613.80           600.00
4      409.50      432.00      464.10      372.80             0.00

In [9]:
dados_teste.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT  NU_NOTA_REDACAO
0      534.90      617.50      528.20      609.10           600.00
1      423.30      434.60      441.20      429.80            80.00
2      418.50      452.90      389.70      426.50           360.00
3      381.70      508.30      409.90      389.70           340.00
4      440.70      673.70      547.20      532.50           540.00

In [10]:
dados_validacao.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT  NU_NOTA_REDACAO
0      599.50      664.60      629.90      739.30           800.00
1      580.90      624.40      574.80      630.80           600.00
2      585.20      627.90      706.10      784.90           860.00
3      534.80      646.70      598.40      615.50           740.00
4      413.20      542.50      462.40      394.50           500.00

In [11]:
desafioqt = dados_validacao[['NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_MT', 'NU_NOTA_REDACAO']]

desafioqt.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_MT  NU_NOTA_REDACAO
0      599.50      664.60      739.30           800.00
1      580.90      624.40      630.80           600.00
2      585.20      627.90      784.90           860.00
3      534.80      646.70      615.50           740.00
4      413.20      542.50      394.50           500.00

In [12]:
destino_treino = f"DADOS_TREINO.csv"
destino_teste  = f"DADOS_TESTE.csv"
destino_validacao = f"DADOS_VALIDACAO_SEED_{seed}.csv"
destino_desafioqt = f"DESAFIOQT.csv"

dados_treino.to_csv(destino_treino, index=False)
dados_teste.to_csv(destino_teste, index=False)
dados_validacao.to_csv(destino_validacao, index_label="ID")
desafioqt.to_csv(destino_desafioqt, index_label="ID")